<div class="col-6 offset-3 register">
  <form [formGroup]="singupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control">
      <div *ngIf="singupForm.get('username').touched">
      <span class="help-block" *ngIf="singupForm.get('username').hasError('required')">
        Username is required <br>
      </span>
        <span class="help-block" *ngIf="singupForm.get('username').hasError('pattern')">
        Username can only contain A-Z, a-z and 0-9 symbols <br>
      </span>
        <span class="help-block" *ngIf="singupForm.get('username').hasError('minlength')">
        Username must be longer than 4 symols <br>
      </span>
        <span class="help-block" *ngIf="singupForm.get('username').hasError('maxlength')">
        Username must be shorter than 16 symols <br>
      </span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control">
      <div *ngIf="singupForm.get('password').touched"
            class="help-block">
                  <span class="help-block" *ngIf="singupForm.get('password').hasError('required')">
        Password is required <br>
      </span>
        <span class="help-block" *ngIf="singupForm.get('password').hasError('minlength')">
        Password must be longer than 6 symols <br>
      </span>
        <span class="help-block" *ngIf="singupForm.get('password').hasError('maxlength')">
        Password must be shorter than 30 symols <br>
      </span>
    </div>
    </div>
    <div class="form-group">
      <label for="repeatPassword">Repeat Password</label>
      <input
        type="password"
        id="repeatPassword"
        formControlName="repeatPassword"
        class="form-control">
      <span *ngIf="!singupForm.get('repeatPassword').valid && singupForm.get('repeatPassword').touched"
            class="help-block">
            Passwords are not the same
    </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control">
      <span *ngIf="!singupForm.get('email').valid && singupForm.get('email').touched" class="help-block">
            Invalid Email
    </span>
    </div>
    <button class="btn btn-outline-secondary" [disabled]="!singupForm.valid" type="submit">Register</button>
  </form>
</div>
