html, body {
  height: 100%;
}

body {
  height: 100%;
  background-attachment: fixed;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(25, 25, 25);
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px rgb(20, 20, 20) inset !important;
  background-color: rgb(20, 20, 20);
  -webkit-text-fill-color: rgb(150, 150, 150) !important;
}
h2 {
  color: rgb(150,150,150);
}
h3 {
  color: rgb(150,150,150);
}
.help-block {
  color: rgb(150, 0, 0);
  font-weight: 500;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  box-shadow: none;
}

.ngx-pagination .current {
  background: rgb(100, 100, 100) !important;
}

.ngx-pagination .disabled {
  color: rgba(100, 100, 100, 0.21) !important;
}

.ngx-pagination a {
  color: rgb(100, 100, 100) !important;
  font-weight: 500;
}

.ngx-pagination a:hover {
  background-color: rgb(100, 100, 100) !important;
  color: rgb(200, 200, 200) !important;
  text-decoration: none;
}

i {
  color: rgb(150, 150, 150);
}

.nav-link:hover {
  background-color: rgb(100, 100, 100);
}

.alert-danger {
  opacity: 90%;
  background-color: rgb(20, 0, 0);
  text-align: center;
  font-weight: 900;
  color: rgb(150, 0, 0);
  font-size: 25px;
}

.alert-success {
  opacity: 90%;
  background-color: rgb(0, 20, 0);
  text-align: center;
  font-weight: 900;
  color: rgb(0, 150, 0);
  font-size: 25px;
}

label {
  color: rgb(150, 150, 150);
  font-weight: 500;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
}

