.set-label {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(100, 100, 100);
}
.add-auction-form {
  margin-top: 20px;
}
.add-auction-form {
  background-color: rgb(30,30,30);
  padding: 20px;
}
.add-button {
  color: rgb(150, 150, 150);
  font-size: 30px;
  background-color: rgb(40, 40, 40);
  border-color: rgb(50, 50, 50);
}
input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 0px rgb(20, 20, 20) inset !important;
}
.set-biddable {
  filter: invert();
  transform: scale(2);
  margin-left: 10px;
}

.set-price {
  font-size: 30px;
  font-weight: 500;
  color: rgb(100, 100, 100);
  border-color: rgb(15, 15, 15);
  background-color: rgb(15, 15, 15);
}
