<div class="row">
  <div class="col-6">
    <h2>Add new auction</h2>
    <br>
    <app-items (itemRemoved)="onAuctionItemRemoved($event)"
               [itemStones]="itemStonesRemovedFromEq"
               [canvasSize]="canvasSize" [disableSorting]="true"
               [disablePaging]="true"
               [emptySpaces]="auctionEmptySpaces"></app-items>
    <div class="row col-12">
      <form class="add-auction-form col-8 offset-2" [formGroup]="newAuctionForm">
        <div class="form-group">
          <label class="set-label" for="price">Set price</label>
          <input type="number" min="0" step="100" formControlName="price" class="form-control set-price" id="price">
        </div>
        <div class="form-group">
          <label class="set-label" for="price">Biddable</label>
          <input type="checkbox" formControlName="isBiddable" class="set-biddable" id="isBiddable">
        </div>
        <button (click)="onAddAuction()" class="btn btn-secondary add-button">ADD</button>
      </form>
    </div>

  </div>
  <div class="col-6">
    <app-items #userItems (itemRemoved)="onEqItemRemoved($event)" [size]="size" [canvasSize]="canvasSize" [isUserEq]="true"></app-items>
  </div>
</div>

