
<div class="carousel-wrapper fading" [ngStyle]="carouselWrapperStyle">
  <div class="carousel carousel-inner" #carousel>
    <div *ngFor="let item of itemStones;">
      <div>
        <app-item-stone [itemInfo]="false" [canvasSize]="itemWidth" [itemStone]="item"></app-item-stone>
      </div>
    </div>
  </div>
</div>
