.carousel-wrapper {
  overflow: hidden;
}
.fading {
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0)30%, rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 90%);
}
.carousel {
  margin: 0;
  padding: 0;
  width: 20000px;
}

.carousel-inner {
  display: flex;
}
.item {
  background-color: #282828;
}
