.item {
  background-color: rgb(40, 40, 40);
  border-radius: 5%;
  margin: 2px;
  border-style: solid;
  border-color: rgba(0, 162, 255, 0.11);
  border-width: 2px;
}

.unavailable {
  opacity: 15%;
  border-style: dashed !important;
}

.selected {
  background-color: rgb(100, 100, 100) !important;
}

select {
  cursor: pointer;
  color: rgb(150, 150, 150);
  font-weight: 500;
  border-color: rgb(20, 20, 20);
  background-color: rgb(40, 40, 40) !important;
}

.sort-label {
  color: rgb(150, 150, 150);
  font-weight: 500;
}

select option {
  border-style: none !important;
  color: rgb(150, 150, 150);
  font-weight: 500;
  border-color: rgb(20, 20, 20);
  background-color: rgb(40, 40, 40);
}

.sort-type {
  cursor: pointer;
  color: rgb(100, 100, 100);
  margin-top: -5px;
  margin-left: 10px;
}

.sort-type:hover {
  cursor: pointer;
  color: rgb(150, 150, 150);
}
