<div class="col-12">


  <div *ngIf="!disableSorting" class="row">
    <div class="col-12">
      <div class="row">
        <form [formGroup]="sortByForm">
          <label class="sort-label" for="sort">Sort by</label>
          <select formControlName="sort" class="form-control" id="sort">
            <option>Weight</option>
            <option>Condition</option>
          </select>
        </form>
        <div class="sort-type d-flex align-items-end">
          <i [ngClass]="{'fa-rotate-180': desc}" (click)="flip()" class="fas fa-chevron-up fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <ng-container *ngIf="!disablePaging">
      <div [ngClass]="{'unavailable': !itemStone.available, 'selected': itemStone.selected}" (click)="onItemRemove(itemStone)" class="item"
           appHover="shadow"
           *ngFor="let i = index; let itemStone of itemStones | paginate: { itemsPerPage: size, currentPage: p, totalItems: count }">
        <app-item-stone #items [itemInfo]="drawItemInfo" [itemStone]="itemStone"
                        [canvasSize]="canvasSize"></app-item-stone>
      </div>
    </ng-container>
    <ng-container *ngIf="disablePaging">
      <div [ngClass]="{'unavailable': !itemStone.available, 'selected': itemStone.selected}" (click)="onItemRemove(itemStone)" class="item"
           appHover="shadow"
           *ngFor="let i = index; let itemStone of itemStones">
        <app-item-stone #items [itemInfo]="drawItemInfo" [itemStone]="itemStone"
                        [canvasSize]="canvasSize"></app-item-stone>
      </div>
    </ng-container>
    <div class="item" appHover="shadow"
         *ngFor="let i = index; let x of emptySpaces">
      <app-item-stone [isEmpty]="true" [canvasSize]="canvasSize"></app-item-stone>
    </div>
  </div>
  <pagination-controls *ngIf="!disablePaging" (pageChange)="p = $event; getItems()"></pagination-controls>
</div>
