.item {
  cursor: pointer;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  margin: 2px;
  border-style: solid;
  border-color: rgba(0, 162, 255, 0.11);
  border-width: 2px;
}
.selected {
  background-color: rgb(100, 100, 100);
}
.slider-form {
  margin-top: 20px;
  color: rgb(100, 100, 100);
}
.slider-value {
  font-size: 20px;
  font-weight: 900;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(100, 100, 100);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(100, 100, 100);
  cursor: pointer;
}
