<div class="row user-items">
  <div class="col-12 col-md-6">
    <div class="row d-flex justify-content-center" *ngIf="!isItemStonesPreviewEmpty">
      <div class="item" *ngFor="let itemStonePreview of itemStonesPreview"
           [ngClass]="{'selected': itemStonePreview.selected}">
        <app-item-stone (click)="setCut(itemStonePreview)" [itemInfo]="false" [canvasSize]="100"
                        [itemStone]="itemStonePreview.itemStone"></app-item-stone>
      </div>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="isItemStonesPreviewEmpty">
      <div class="item" *ngFor="let empty of previewEmptySpaces">
        <app-item-stone [itemInfo]="false" [canvasSize]="100" [isEmpty]="isItemStonesPreviewEmpty"></app-item-stone>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <app-items #itemToCut (itemRemoved)="onAuctionItemRemoved($event)"
                 [emptySpaces]="cutEmptySpaces"
                 [itemStones]="itemStonesRemovedFromEq"
                 [canvasSize]="300"
                 [size]="1"
                 [isUserEq]="false"
                 [disablePaging]="true"
                 [disableSorting]="true"></app-items>
    </div>
    <div class="row d-flex justify-content-center slider-form">
      10
      <form class="col-6" [formGroup]="cutForm">
        <input class="slider" step="10" type="range" min="10" max="100" formControlName="slider"/>
      </form>
      100
    </div>
    <div class="row d-flex justify-content-center slider-form slider-value">
      {{110 - cutForm.value.slider}}% Chance
    </div>
    <div class="row d-flex justify-content-center slider-form">
      <button (click)="onCut()" [disabled]="!selectedCut" class="btn btn-secondary">CUT</button>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <app-items #userItems (itemRemoved)="onEqItemRemoved($event)"
               [canvasSize]="100"
               [isUserEq]="true"
               [maxItemsToRemove]="1"
               [size]="15"></app-items>
  </div>
</div>


