<div class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div *ngFor="let alert of alerts">
          <div [ngClass]="{'alert-success' : alert.type == 1, 'alert-danger' : alert.type == 0}" *ngIf="alert" class="col-4 offset-8 alert-message">
            {{alert.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

