input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.login {
  min-width: 300px;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
}
input {
  background-color: #ff001e;
}

::ng-deep .navbar-expand-sm .navbar-nav .dropdown-menu {
  width: max-content !important;
  background-color: rgb(40, 40, 40);
}
