<div class="col-12 d-flex justify-content-center">
  <div class="login col-6 px-4 py-3">
    <form [formGroup]="singupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
        <span *ngIf="!singupForm.get('username').valid && singupForm.get('username').touched" class="help-block">
            Username is required
          </span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
        <span *ngIf="!singupForm.get('password').valid && singupForm.get('password').touched" class="help-block">
            Password is required
    </span>
      </div>
      <button *ngIf="!isLoading" class="btn btn-outline-secondary" type="submit">Login</button>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </form>
    <hr>
    <button class="btn btn-secondary btn-sm" routerLink="/register">Register</button>
  </div>
</div>
