.carousel-wrapper {
  overflow: hidden;
}

.carousel {
  margin: 0;
  padding: 0;
}

.item {
  /*background-color: rgb(30, 30, 30);*/
  cursor: pointer;
  border-right-color: rgba(100, 100, 100, 0.91);
  border-right-style: solid;
  border-right-width: 0.01em;
}

.carousel-inner {
  display: flex;
}

.last-draws-label {
  font-size: 30px;
  font-weight: 500;
  color: rgb(100, 100, 100);

}

.last-draws {
  border-style: solid;
  border-color: rgb(40, 40, 40);
}
