<div class="last-draws-label d-flex justify-content-center">
  LAST DRAWS
</div>
<div [ngStyle]="{'min-height': itemWidth+'px'}" class="last-draws carousel-wrapper">
  <div class="carousel carousel-inner" #carousel>
    <div *ngFor="let draw of displayDraws">
      <div class="item" #items>
        <app-item-stone [itemInfo]="false" [canvasSize]="itemWidth" [itemStone]="draw.itemStone"></app-item-stone>
      </div>
    </div>
  </div>
</div>

