<div class="draws">
<app-draws></app-draws>
<div class="col-12">
  <div #doorLeft class="door-left">
    <div class="minutes-row row d-flex flex-row-reverse">
      <div [ngClass]="endTime.minutes < 1 ? 'end' : null" class="minutes row">
        <div *ngIf="endTime.minutes < 10">0</div>
        {{endTime.minutes}}
      </div>
    </div>
  </div>
  <div #doorRight class="door-right">
    <div class="seconds-row row d-flex flex-row">
      <div [ngClass]="endTime.seconds <= 0 && endTime.minutes < 1 ? 'end' : null" class="seconds row">
        <div *ngIf="endTime.seconds < 10">0</div>
        <div *ngIf="endTime.seconds > 0; else zero">{{endTime.seconds}}
        </div>
        <ng-template #zero>0</ng-template>
      </div>
    </div>
  </div>
  <div class="background inner-shadow">
    <div class="d-flex justify-content-center inner-shadow">
      <app-carousel [stopIndex]="stopIndex-1" [itemStones]="itemStones"></app-carousel>
    </div>
  </div>
  <div class="text-center background">
    <button (click)="drawItem()" class="button btn" [disabled]="disabled">DRAW</button>
  </div>
</div>





