.col-12 {
  padding: 0;
}
.inner-shadow {
  height: 309px;
  background: linear-gradient(90deg, rgb(45, 45, 45) 46%, rgb(60, 60, 60) 50%, rgb(45, 45, 45) 54%);
  box-shadow: inset 0 0 5px 2px rgb(30, 30, 30)
}
.seconds-row {
  margin-top: 100px;
  z-index: 5;
}
.minutes-row {
  margin-top: 100px;
  z-index: 5;
}
.minutes {
  margin-right: 35px;
  font-size: 5vw;
  color: rgb(100, 100, 100);
}
.seconds {
  margin-left: 35px;
  font-size: 5vw;
  color: rgb(100, 100, 100);

}
.button {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 200%;
  font-weight: 900;
  border-radius: 20px;
  color: rgb(100, 100, 100);
  border-color: rgb(120, 120, 120);
  border-width: 5px;
  background-color: rgb(35, 35, 35);
}
.background {
  background-color: rgb(35, 35, 35);
}
.end {
  opacity: 20%;
}
.door-left {
  position: absolute;
  z-index: 2;
  width: 50%;
  height: 307px;
  background: rgb(40, 40, 40);
}
.door-right {
  position: absolute;
  right: 0px;
  z-index: 2;
  width: 50%;
  height: 307px;
  background-color: rgb(40, 40, 40);
}
