::ng-deep .mat-dialog-container {
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  box-shadow: 0 0 0 0;
}
::ng-deep .mat-dialog-title {
  height: 0;
}
.item-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.title {
  margin-bottom: -20px;
  color: rgb(100, 100, 100);
  font-size: 20px;
}
.items {
  margin-top: -20px;
}
