<div class="col-12 items">
  <p class="title row d-flex justify-content-center">New Items:</p>
  <app-items canvasSize="200" [isClickable]="false" [itemStones]="items" [disablePaging]="true" [disableSorting]="true"></app-items>
</div>


