<div class="row contract">
  <div class="col-6">
    <h3>Add 5 items</h3>
    <br>
    <app-items (itemRemoved)="onAuctionItemRemoved($event)"
               [itemStones]="itemStonesRemovedFromEq"
               [canvasSize]="canvasSize" [disableSorting]="true"
               [disablePaging]="true"
               [emptySpaces]="auctionEmptySpaces"></app-items>
    <div class="row d-flex justify-content-center">
      <button (click)="onSignContract()" [disabled]="itemStonesRemovedFromEq.length < 5" class="btn btn-secondary">SIGN</button>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="item">
        <app-item-stone #winItemStone [canvasSize]="300" [isEmpty]="isEmpty"></app-item-stone>
      </div>
    </div>
  </div>
  <div class="col-6">
    <app-items #userItems (itemRemoved)="onEqItemRemoved($event)" [maxItemsToRemove]="size" [size]="15" [canvasSize]="canvasSize" [isUserEq]="true"></app-items>
  </div>
</div>

