<div *ngIf="itemInfo && !isEmpty"
     [ngStyle]="{'font-size': canvasSize / 8 +'px'}"
     class="col-12 row d-flex justify-content-center align-items-center info">
  <div class="rectangle">
    <svg [attr.width]="canvasSize / 10" [attr.height]="canvasSize / 10">
      <rect
        [ngStyle]="{'fill': rgb}"
        [attr.width]="canvasSize / 10"
        [attr.height]="canvasSize / 10"/>
    </svg>
  </div>
  <div class="item-info">
    {{itemStone.weight}}ct
  </div>
  <div class="item-info">
    {{itemStone.condition}}%
  </div>
</div>
<canvas #canvas></canvas>
<div *ngIf="itemInfo && !isEmpty"
     [ngStyle]="{'font-size': canvasSize / 8 +'px'}"
     class="col-12 row d-flex justify-content-center align-items-center info">
  <div [ngStyle]="{'margin-top': -canvasSize / 6 +'px'}" class="stone-name">
    {{itemStone.stone}}
  </div>
</div>







