.rectangle {
  margin-top: -4px;
}
.disabled {
  opacity: 0;
}
.info {
  max-height: 0;
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: rgb(246, 255, 255);
  mix-blend-mode: difference;
}
.item-info {
  margin-left: 10px;
}
