.test{
  max-width: 0;
}
.views {
  margin-top: 40px;
}
.auciton-owner {
  border-style: solid;
  border-color: rgb(0, 50, 0);
}
.current-bid-username {
  height: 0;
  margin-top: 15px;
  margin-left: 15px;
}
.user-price {
  background-color: rgb(20, 20, 20);
  font-size: 20px;
  font-weight: 900;
  border-color: #0f0f0f;
}
.items {
  box-shadow: inset 0 0 5px 5px rgb(30, 30, 30);
  /*max-canvasSize: 22%;*/
}
.bid {
  margin-top: 20px;
  padding-left: 0;
}
.buy-row {
  margin-bottom: 20px;
}
.bid-row {
  margin-top: -20px;
}
.item {
  margin-top: 10px;
}
.row {
  margin-left: 0px;
}
.auction {
  background-color: rgb(40, 40, 40);
  color: #c8c8c8;
}
.buy{
  font-size: 20px;
  font-weight: 900;
  margin-left: 20px;
  margin-right: 20px;
  margin-right: 20px;
}
.carousel-control-prev{
  filter: invert(100%);
}
.carousel {
  z-index: 10;
}
.carousel-indicators li{
  background-color: black;
}

.carousel-control-next {
  filter: invert(100%);
}
.carousel-inner .carousel-item {
  transition: transform 200ms ease;
}
