<div [ngClass]="{'auciton-owner': user.username == auction.user.username}" class="row col-12 auction shadow-sm p-3 mb-5 rounded" appHover="shadow">
  <div class="col-12 col-md-3 items" align="center">
    <div *ngIf="auction.itemStones.length > 1" id="carousel_{{auctionIndex}}" class="carousel slide"
         data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let x of auction.itemStones; let i = index" [ngClass]="{'active': i==0}"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let itemStone of auction.itemStones; let i = index" class="carousel-item item"
             [ngClass]="{'active': i==0}">
          <app-item-stone [index]="i" [itemStone]="itemStone" [size]="auction.itemStones.length"></app-item-stone>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel_{{auctionIndex}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel_{{auctionIndex}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="item">
      <app-item-stone appItemInfo *ngIf="auction.itemStones.length < 2"
                      [itemStone]="auction.itemStones[0]"></app-item-stone>
    </div>
  </div>
  <div class="col-6 col-md-3">
    <div class="row">
      <h5 *ngIf="auction.itemStones.length > 1">{{auction.itemStones.length}}x STONE</h5>
      <h5 *ngIf="auction.itemStones.length < 2">{{auction.itemStones[0].stone}}</h5>
    </div>
    <div class="row">
      <p class="small">{{auction.user.username}}</p>
    </div>
    <div *ngIf="!auction.biddable" class="row buy-row">
        <button [ngClass]="{'disabled': user.username == auction.user.username}" (click)="buy()" class="btn btn-inverse btn-outline-secondary"><b class="buy">Buy</b></button>
    </div>
    <div *ngIf="auction.biddable" class="row bid-row">
      <div class="col-12 col-md-6 bid">
        <button [ngClass]="{'disabled': user.username == auction.user.username}" type="submit" (click)="bid()" class="btn btn-inverse btn-outline-secondary"><b class="buy">Bid</b>
        </button>
      </div>
      <div class="col-12 col-md-6 bid">
        <div class="form-group">
          <input type="number" min="0" step="100"
                 value="{{(currentBid ? currentBid.price : auction.price) + 100}}"
                 class="form-control user-price" #bidInput>
        </div>
      </div>
    </div>
    <div class="row price">
      <h2 *ngIf="!currentBid"><b>${{auction.price | number}}</b></h2>
      <div class="row" *ngIf="currentBid"><h2><b>${{currentBid.price | number}}</b></h2>
        <p class="small current-bid-username">{{currentBid.user.username}}</p></div>
    </div>
  </div>
  <div class="col-6 col-md-6 ml-auto">
    <div class="row d-flex justify-content-end">
      <h6><b>{{timeLeft > 0 ? endTime : '0 s'}}</b></h6>
    </div>
    <div class="row d-flex justify-content-end">
      <p class="small">{{endDate}}</p>
    </div>
    <br><br>
    <div class="row views d-flex align-items-end justify-content-end">
      <h6>{{auction.views}}</h6>
    </div>
  </div>
</div>
