.login {
  cursor: pointer;
}

.header-bg {
  background-color: rgb(40, 40, 40);
}
.login-dropdown {
  border-radius: 10px;
}
.header {
  padding-right: 0px;
  padding-left: 0px;
}
.hidden {
  opacity: 0;
}
input, input:focus {
   background-color: rgb(30, 30, 30);
   border-color: rgb(20,20,20);
}
.result {
  background-color: rgb(50,50,50);
  color: rgb(150,150,150);
}
.result:hover {
  background-color: rgb(70, 70, 70);
  color: rgb(150,150,150);
  cursor: pointer;
}

.username {
  font-weight: 500;
}

.content ul {
  min-width: 210px;
  position: absolute;
}
