<div class="header-bg fixed-top">
  <div class="container header">
    <nav class="row navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" routerLink="/"><i class="fas fa-gem fa-2x"></i></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auction"><i class="fas fa-list"></i> Auctions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cutstone"><i class="far fa-gem"></i> Cut Stone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contract"><i class="fas fa-file-signature"></i> Contract</a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <form class="form-inline" [formGroup]="search">
            <div class="content">
              <input (focus)="onFocus($event)" (blur)="onBlur($event)" formControlName="search" class="form-control search" type="search" placeholder="Search" aria-label="Search">
              <ul [ngClass]="{'hidden': isInputBlured}" class="list-group">
                <li [routerLink]="['/user/' + 'adammus95']" class="list-group-item result" *ngFor="let u of users">{{u.username}}</li>
              </ul>
            </div>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto navbar-expand">
        <li style="cursor: pointer;" *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link"><b>${{user.userDetail.money | number}}</b></a>
        </li>
        <li style="cursor: pointer;" *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link username" [routerLink]="['/user/' + user.username]">{{user.username}}</a>
        </li>
        <li style="cursor: pointer;" *ngIf="isLoggedIn" class="nav-item">
          <div class="nav-link">
            <i (click)="logOut()" class="fas fa-sign-out-alt"></i>
          </div>
        </li>
        <li *ngIf="!isLoggedIn" class="dropdown">
          <a class="login nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
          <div class="dropdown-menu dropdown-menu-right login-dropdown">
            <app-login></app-login>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>
