.auctions {
  padding: 0;
}

.panel {
  margin-bottom: 10px;
}

select {
  cursor: pointer;
  color: rgb(150, 150, 150);
  font-weight: 500;
  border-color: rgb(20, 20, 20);
  background-color: rgb(40, 40, 40) !important;
}

.sort-label {
  color: rgb(150, 150, 150);
  font-weight: 500;
}

select option {
  border-style: none !important;
  color: rgb(150, 150, 150);
  font-weight: 500;
  border-color: rgb(20, 20, 20);
  background-color: rgb(40, 40, 40);
}

.sort-type {
  cursor: pointer;
  color: rgb(100, 100, 100);
  margin-top: -5px;
  margin-left: 10px;
}

.sort-type:hover {
  cursor: pointer;
  color: rgb(150, 150, 150);
}
.add-auction {
  font-size: 20px;
  font-weight: 500;
}
.price-input {
  max-width: 80%;
  background-color: rgb(20, 20, 20);
  font-size: 20px;
  font-weight: 900;
  border-color: #0f0f0f;
}
.slider {
  margin-left: 10px;
  margin-right: 10px;
}
.price-filter {
  padding: 0;
}
::ng-deep .ng5-slider-selection {
  background: rgb(150, 150, 150) !important;
}

::ng-deep .ng5-slider-left-out-selection {
  color: white;
}

::ng-deep .ng5-slider-bubble {
  color: rgb(100, 100, 100) !important;
}

::ng-deep .ng5-slider-pointer {
  background: rgb(60, 60, 60) !important;
}
::ng-deep .ng5-slider .ng5-slider-bar-wrapper.ng5-slider-left-out-selection .ng5-slider-bar {
  background-color: rgb(60, 60, 60) !important;
}
::ng-deep .ng5-slider .ng5-slider-bar-wrapper.ng5-slider-right-out-selection .ng5-slider-bar {
  background-color: rgb(60, 60, 60) !important;
}
