<div class="panel">
  <div class="row">
    <div class="d-flex align-items-end ml-auto">
      <button routerLink="/auction/add" aligin="left" class="add-auction btn btn-outline-secondary">+</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="form-inline" [formGroup]="sortByForm">
        <div class="col-md-2 col-6">
          <div class="slider row sort-label">
              Sort by
          </div>
          <div class="row">
            <select formControlName="sort" class="form-control" id="sort">
              <option [ngValue]="'price'">Price</option>
              <option [ngValue]="'views'">Views</option>
              <option [ngValue]="'expirationTime'">Time Left</option>
            </select>
            <div class="sort-type">
              <i [ngClass]="{'fa-rotate-180': desc}" (click)="flip()" class="fas fa-chevron-up fa-2x"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="slider">
            <div class="row">
              <ng5-slider #priceSlider (userChangeEnd)="onValueChange()" [(value)]="minPriceValue" [(highValue)]="maxPriceValue" [options]="priceFilterOptions"></ng5-slider>
            </div>
            <div class="row">
              <div class="price-filter col-6">
                <input type="number" min="0" step="100" [value]="priceSlider.value"
                       class="form-control price-input" formControlName="inputPriceMin">
              </div>
              <div class="price-filter col-6 d-flex justify-content-end">
                <input type="number" min="0" step="100" [value]="priceSlider.highValue"
                       class="form-control price-input" formControlName="inputPriceMax">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="slider">
            <div class="row">
              <ng5-slider #weightSlider (userChangeEnd)="onValueChange()" [(value)]="minWeightValue" [(highValue)]="maxWeightValue" [options]="weightFilterOptions"></ng5-slider>
            </div>
            <div class="row">
              <div class="price-filter col-6">
                <input type="number" min="0" step="0.01" [value]="weightSlider.value"
                       class="form-control price-input" formControlName="inputWeightMin">
              </div>
              <div class="price-filter col-6 d-flex justify-content-end">
                <input type="number" min="0" step="0.01" [value]="weightSlider.highValue"
                       class="form-control price-input" formControlName="inputWeightMax">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="slider">
            <div class="row">
              <ng5-slider #conditionSlider (userChangeEnd)="onValueChange()" [(value)]="minConditionValue" [(highValue)]="maxConditionValue" [options]="conditionFilterOptions"></ng5-slider>
            </div>
            <div class="row">
              <div class="price-filter col-6">
                <input type="number" min="0" step="1" [value]="conditionSlider.value"
                       class="form-control price-input" formControlName="inputConditionMin">
              </div>
              <div class="price-filter col-6 d-flex justify-content-end">
                <input type="number" min="0" step="1" [value]="conditionSlider.highValue"
                       class="form-control price-input" formControlName="inputConditionMax">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 auctions">
    <app-auction (auctionRemoved)="getAuctions()"
                 *ngFor="let auction of displayAuctions | paginate: { itemsPerPage: size, currentPage: p, totalItems: count };
                   let i = index" [auctionIndex]="i" [auction]="auction">
    </app-auction>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>



